*{
	margin: 0;
	padding: 0;
}

.header{
	border: 1px solid white;
	width: 100%;
	height: 80px;
	background-color: #9796;
}
.header h1{
  font-size: 44px;
  padding-left: 70px;
    margin-top: 0.5%;
    color: blue;
    position: absolute;
    text-transform: capitalize;
  }
  .header span{
    font-size: 17px;
    color: black;
  }
 .header ul li {
    word-spacing: 40px;
    padding-left: 55%;
    position: absolute;

    list-style: none;
    margin-top: 2%;
    font-size: 20px;
    text-transform: capitalize;

  }
  .header a{
    text-decoration: none;
      color: dark;
      transition: 0.5s;
  }
  .header a:hover{
    color:yellow;
    
      }
  .header a:hover:after{
    content: '';
    position: absolute;
    width: 3%;
    height: 2px;
    border-bottom: 1px solid black;
    top: 25px;
    margin-left: -3%;
  }
.about
{
	width: 100%;
	height: 600px;
	border: 1px solid #0A3C73;
	background-color: #0A3C73;
}
.about h1{
	color: #295992;
	padding-left: 33%;
	margin-top: 15%;
	text-transform: capitalize;
	font-size: 25px;
}
.about h2{
	color: #295992;
	padding-left: 30%;
	text-transform: capitalize;
	font-size: 40px;

}
.about h3{
	color: white;
	padding-left: 37%;
	text-transform: uppercase;
	font-size: 15px;

}
.about button{
	background-color: yellow;
	color: black;
	margin-left: 45%;
	height: 30px;
	width: 80px;
	margin-top: 2%;
}
 .about .f3{
	width: 30px;
	height: 30px;
	border: 5px solid whitesmoke;
	border-radius: 100%;
	margin-left: 45%;
	margin-top: 5%;
}
 .about .f4{
	width: 30px;
	height: 30px;
	border: 5px solid whitesmoke;
	border-radius: 100%;
	margin-left: 50%;
	margin-top: -2.5%;
}
.fa-microphone-alt-slash{
	color: white;
	margin-top: 6px;
	margin-left: 5px;
}
.fa-phone-slash
{
	color: white;
	margin-top: 6px;
	margin-left: 5px;
}
.portfolio{
	width: 100%;
	height: 70px;
	border: 0px solid red;
	background-color: yellow;
}
.portfolio h1{
	font-size: 34px;
    margin-top: 0.5%;
    color: blue;
    padding-left: 15%;
    text-transform: capitalize;
}
.portfolio h1 span{
	font-size: 20px;
    color: white;
     text-transform: capitalize;
}
.portfolio h1 span:after{
    content: '';
    position: absolute;
    width: 3%;
    height: 2px;
    border-bottom: 2px solid white;
    margin-left: 0.1px;
    top: 720px;
    transform: rotate(90deg);
  }
  .portfolio .ful{
    word-spacing: 40px;
    margin-left: 55%;
    position: absolute;
    margin-top: 1%;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: -30px;
    width: 40%;
    height: 40px;
    border: 0px solid red;
    display: flex;

  }
  .ab{
  	width: 120px;
  	height: 40px;
  	border: 0px solid red;
  	transition: 0.5s;
  }
  .ab:hover{
  	background-color: white;
  }
  .ab:nth-child(4)
  {
  	width: 150px;
  	height: 40px;
  	border: 0px solid red;
  }
  .portfolio a{
    text-decoration: none;
      color: dark;
      transition: 0.5s;
      word-spacing: 40px;

  }
  .portfolio a:hover{
    color:yellow;
    background-color: white;
  }
  .portfolio .ful .ab:hover:before{
  	 content: '';
    position: absolute;
    width: 3%;
    height: 5px;
    border-bottom: 2px solid black;
    margin-left: 40px;
    top: 25px;
    transform: rotate(90deg);
  }
  .portfolio2{
  	width: 100%;
  	height: 720px;
  	border: 0px solid red;
  	background-color: #E2E4E1;
  }
  .rasm {
  	width: 1290px;
  	height: 700px;
  	overflow: hidden;
  	display: grid;
  	grid-template-columns: 3fr 3fr 3fr 3fr;
  	grid-column-gap: 30px;
  	grid-row-gap: 30px;
  	padding-top: 50px;
  	margin: 0 auto;

  }
.box{
  	border: 0px solid red;
  	height: 300px;

  }
  .rasm .box img{
  	width: 400px;
  	height: 300px;
  }
  .about2{
  	width: 100%;
  	height: 800px;
  	border: 1px solid #003372;
  	background-color: #003372;
  }
  .about2 button{
  	width: 170px;
  	height: 40px;
  	border-radius: 10px;
  	margin-left: 47%;
  	margin-top: 3%;
  	background-color: #003372;
  	color: white;
  	text-transform: capitalize;
  	box-shadow: 1px 2px 1px white;
  }
  .about2 button:after {
  	content: '';
    position: absolute;
    width: 3%;
    height: 5px;
    border-bottom: 2px solid white;
    margin-left: -45px;
    top: 1500px;
    transform: rotate(90deg);
  }
  .about2 p{
  	padding-top: 30px;
     padding-left: 250px;
     color: white;
  }
  
  .about2 p span{
  	color: white;
  	 padding-left: 290px;
  	 padding-top: 10px;
  }
  .all{
  	width: 800px;
  	height: 200px;
  	border: 0px solid red;
  	margin-top: 10%;
  	margin-left: 25%;
  	display: flex;
  	justify-content: space-evenly;
  }
  .all .box-item{
  	width: 200px;
  	height: 200px;
  	border: 0px solid red;
  	border-radius: 100%;
  	background-color: white;
  }
  .box-item .fa-edit{
  	font-size: 35px;
  	color: black;
  	margin-top: 10%;
  	margin-left: 15%;
  	-webkit-text-stroke: 2px black;
	font-size: 140px;
  }
  .box-item .fa-map-marked-alt{
    font-size: 35px;
  	color: black;
  	margin-left: 10%;
  	margin-top: 10%;
  	font-size: 140px;
  	-webkit-text-stroke: 2px black;
  }
  .box-item .fa-palette{
    font-size: 35px;
  	color: black;
  	margin-top: 13%;
  	margin-left: 15%;
  	background-color: white;
	font-size: 140px;
	border-radius: 100px;

  }
  .all h1{
  	padding-top: 50px;
  	color: white;
  }
 .g{
  	margin-left: 35px;
  	color: white;
  }
  .g1{
     margin-left: 35px;
     color: white;
  }
  .team{
  	width: 100%;
  	height: 800px;
  	border: 0px solid darkred;
  	background-color: whitesmoke;
  }
  .team button {
  	width: 250px;
  	height: 50px;
  	margin-top: 3%;
  	margin-left: 45%;
  	font-size: 35px;
  	text-transform: uppercase;
  	letter-spacing: 5px;
  }
  .team button:after {
  	content: '';
    position: absolute;
    width: 3%;
    height: 9px;
    border-bottom: 2px solid black;
    margin-left: -85px;
    top: 2302px;
    transform: rotate(90deg);
  }
  .par{
  	padding-left: 200px;
  	padding-top: 25px;
  }
  .club{
  	width: 800px;
  	height: 150px;
  	border: 0px solid red;
  	margin-left: 24%;
  	margin-top: 10%;
  	display: flex;
  	justify-content: space-around;
  }
  .hot{
  	border: 1px solid black;
  	height: 150px;
  	width: 150px;
  	border-radius: 100%;
  }
  .hot img{
  	height: 150px;
  	width: 150px;
  	border-radius: 100%;
  }
  .hot h1{
  	padding-left: 25px;
  	text-transform: uppercase;
  	font-size: 25px;
  	padding-top: 10px;
  }
  .hot span{
  	color: #DA7E00;
  	font-size: 25px;
  	font-style: italic;
  }
  .hot span p{
  	color: #DA7E00;
  	font-size: 20px;
  	font-style: italic;
  	color: black;
  }
  .hot span p .fa-twitter{
  	margin-left: 10px;
  	
  }
  .marvel{
  	width: 100%;
  	height: 400px;
  	border: 1px solid #001D5E;
  	background-color: #001D5E;
  }
  .marvel button{
  	width: 150px;
  	height: 50px;
  	background-color: #001D5E;
  	border: 1px solid white;
  	margin-left: 45%;
  	margin-top: 3%;
  	font-size: 33px;
  	text-transform: uppercase;
  	box-shadow: 2px 2px 2px 0px white;
  }
  .marvel button:after {
  	content: '';
    position: absolute;
    width: 3%;
    height: 9px;
    border-bottom: 2px solid white;
    margin-left: -90px;
    top: 3100px;
    transform: rotate(90deg);
  }
.fa-angrycreative{
	font-size: 105px;
	position: absolute;
	left: 10%;
	margin-top: 8%;
	color: white;
}
.f0{
	font-size: 20px;
	position: absolute;
	left: 18%;
	margin-top: 15%;
	color: white;
}
.marvel span p{
	padding-top: 170px;
	padding-left: 120px;
	color: white;
}
.s1{
	position: absolute;
	margin-left: 30%;
	margin-top: -20.3%;
}
.f{
	margin-top: 50%;
	position: absolute;
	left: 85%;
	font-size: 20px;
	color: white;
}
.s1{
 position: absolute;
 padding-top: 10px;
}
.m1{
	margin-left: 30%;
	color: white;
	position: absolute;
	margin-top: 13%;
}
.s2{
	position: absolute;
	margin-left: 65%;
	margin-top: -19.3%;
}
.m2{
	margin-left: 30%;
	color: white;
	position: absolute;
	margin-top: ;
}
.f1{
	margin-top: 50%;
	position: absolute;
	left: 45%;
	font-size: 20px;
	color: white;
	border: none;
}
.contact{
	width: 100%;
	height: 480px;
	border: 0px solid red;
	background-color: #DCDCDE;
}
 .contact button{
	background-color: #DCDCDE;
	color: black;
	margin-left: 45%;
	height: 50px;
	width: 160px;
	margin-top: 3%;
	font-size: 20px;
	border: 1px solid black;
	text-transform: capitalize;
}
.contact button:after {
  	content: '';
    position: absolute;
    width: 3%;
    height: 10px;
    border-bottom: 2px solid black;
    margin-left: -45px;
   margin-top: -2.8%;
    transform: rotate(90deg);
  }
  .quti{
  	width: 700px;
  	height: 200px;
  	border: 0px solid red;
  	margin-left: 7%;
  	display: flex;
  	margin-top: 5%;
  }
  .contact h1 {
    padding-left: 5%;
    font-size: 30px;
    padding-top: 40px;
  }
.contact h1 p{
    font-size: 15px;

  }
  .contact h2 {
    padding-left: 5%;
    font-size: 30px;
    text-transform: capitalize;
    padding-top: 40px;
  }
  .contact h2 p{
    font-size: 15px;
  }
  .contact h3 {
    padding-left: 10%;
    font-size: 30px;
    padding-top: 40px;
  }
  .contact h3 p{

    font-size: 15px;

  }
  .maydon
  {
  	width: 650px;
  	height: 300px;
  	border: 0px solid black;
  	margin-left: 57%;
  	margin-top: -13%;
  } 
  .maydon input[type="text"]{
   	width: 250px;
   	height: 30px;
   	margin-left: 8%;
   	margin-top: 5%;
   	font-size: 20px;
   	text-indent: 5px;
  }
  .maydon input[type="email"]{
   	width: 250px;
   	height: 30px;
   	margin-left: 1%;
   	font-size: 20px;
   	text-indent: 5px;
  }
  .maydon input[type="submit"]{
   	width: 100px;
   	height: 30px;
   	margin-top: 8%;
   	margin-left: 40%;
   	transition: 0.5s;
  }
    .maydon input[type="submit"]:hover{
      color: yellow;
      background-color: black;
      box-shadow: 2px 2px 1px white;
  }
  .maydon input::placeholder{
  font-size: 15px;
  padding-left: 20px;
  text-transform: uppercase;
  }
  textarea{
  	margin-left: 10%;
  	width: 500px;
  	height: 60px;
  	font-size: 20px;
  	padding-left: 5px;
  }
  .portfolio3{
	width: 100%;
	height: 70px;
	border: 0px solid #EE9100;
	background-color: #EE9100;
	display: flex;
	justify-content: space-evenly;

}
.portfolio3 a{
	text-decoration: none;
	display: block;
	font-size: 25px;
	text-transform: capitalize;
	margin-top: 20px;
}

.l2{
    border: 0px solid red;
    width: 60px;
    height: 60px;
    margin-left: -80%;
    margin-top: 20%;
    border-radius: 100px;
    background-color: #001951;

}
.h3{
    border: 0px solid red;
    width: 60px;
    height: 60px;
    margin-left: 15%;
    margin-top: 20%;
    border-radius: 100px;
    background-color:  #EE9100;

}
.l4{
    border: 0px solid red;
    width: 60px;
    height: 60px;
    margin-left: -20%;
    margin-top: 20%;
    border-radius: 100px;
    background-color: #001951;

}
.l5{
    border: 0px solid red;
    width: 60px;
    height: 60px;
    margin-left: 14%;
    margin-top: 20%;
    border-radius: 100px;
    background-color: #001951;

}
.y{
	margin-top: 10px;
	margin-left: 17px;
	color: white;
	font-size: 30px;
}
.botton{
	background-color: #002264;
	width: 100%;
	height: 200px;
	border: 1px solid #002264;
	display: flex;
}
time{
	padding-left: 40%;
	color: white;
	position: absolute;
	margin-top: 20px;
}
.l22{
    border: 0px solid red;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #001951;
    margin-top: 7%;
    margin-left: 35%;

}
.h32{
    border: 0px solid red;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color:  #EE9100;
    margin-top: 7%;
    margin-left: 3%;

}
.l42{
    border: 0px solid red;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #001951;
    margin-top: 7%;
    margin-left: 3%;

}
.l52{
    border: 0px solid red;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #001951;
    margin-top: 7%;
    margin-left: 3%;

}
.y1{
	margin-top: 10px;
	margin-left: 17px;
	color: white;
	font-size: 30px;
}
@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#222;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .header{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

}


